<div class="panel panel-default">
  <div class="panel-heading">
    <%= t "admin_category_table_create" %>
  </div>
  <div class="panel-body">
    <div><%= render "form_edit" %></div>
  </div>
</div>
